<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https:/font.googleapis.com/css2?
      family=Sora:wght@300;400;500;600&display=swap" rel=stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <title>Portfolio - {{title}}</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-900 text-white font-sans antialiased">
    <!-- Navigation -->
    {% include "nav.njk" %}

    <!-- Page content -->
    <main class="max-w-7xl mx-auto px-6 py-12">
      {{ content | safe }}
    </main>

  </body>
</html>
